<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Nightly ASP.NET Web Stack NuGet Packages" value="http://www.myget.org/F/aspnetwebstacknightly/" />
  </packageSources>
</configuration>